.git
.gitignore
.qoder
.trae
_docx_extract
node_modules
**/node_modules
dist
**/dist
build
**/build
coverage
**/coverage
temp
**/temp
dump_78
*.log
npm-debug.log
**/npm-debug.log
.env
**/.env
uploads
**/uploads
logs
**/logs

